#pageheader {
  padding: 20px;
  background: #555;
}
#pageheader #searchbox .search-query {
  opacity: 0.8;
}
#pageheader #searchbox .search-query:focus {
  opacity: 1;
}
#pageheader #searchbox a {
  color: #ccc;
}
#pageheader #searchbox a:hover {
  color: #fff;
}
