body {
	font-size: 13px;
}

a, a:hover, a:visited, a:focus, a:active {
	outline: 0px none;
}

#pageheader {
	padding: 20px;
	background: #555 url('./img/fabric_plaid_@2X.png') repeat 0 0;
	background-size: 200px 200px;
	color: #fff;
	text-shadow: 0px -1px 1px rgba(0,0,0,0.4);

	#searchbox {
		margin-top: 20px;
		.search-query {
			opacity: 0.8;

			&:focus {
				opacity: 1;
			}
		}
		a {
			color: #ccc;

			&:hover {
				color: #fff;
			}
		}
	}

	p {
		margin: 0;

		&.logo-description {
			font-size: 12px;
		}
	}
}

.lastvisit {
	margin: 0;
	color: #888;
}

.quicklogin {
	margin: 10px 0 0 0;
	background: #fff;
	padding: 15px;
	border-radius: 5px;
	display: none;

	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,0.2);

	box-shadow: 0px 2px 5px rgba(0,0,0,0.1);

	position: absolute;
	right: 20px;
	z-index: 300;

	&.in {
		display: block;
	}

	&:before,
	&:after {
		content: '';
		display: block;
		position: absolute;

		top: -13px;
		right: 30px;
		border: 6px solid transparent;
		border-bottom-color: rgba(0,0,0,0.1);
	}

	&:after {
		border-width: 5px;
		border-bottom-color: #fff;
		top: -10px;
		right: 31px;
	}

	.checkbox {
		font-size: 12px;
	}
}