body {
  font-size: 13px;
}
#pageheader {
  padding: 20px;
  background: #555555 url('./img/fabric_plaid_@2X.png') repeat 0 0;
  background-size: 200px 200px;
  color: #fff;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4);
}
#pageheader #searchbox {
  margin-top: 20px;
}
#pageheader #searchbox .search-query {
  opacity: 0.8;
}
#pageheader #searchbox .search-query:focus {
  opacity: 1;
}
#pageheader #searchbox a {
  color: #ccc;
}
#pageheader #searchbox a:hover {
  color: #fff;
}
#pageheader p {
  margin: 0;
}
#pageheader p.logo-description {
  font-size: 12px;
}
